﻿@model Support_QandA_platform.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
@Html.LabelFor(u => u.Email, "Email:")
<br />
@Html.DisplayFor(u => u.Email)
<br />
<br />
@Html.LabelFor(u => u.UserName, "Username:")
<br />
@Html.DisplayFor(u => u.UserName)
<br />
<br />
<label>Role:</label>
<p>@ViewBag.UserRole</p>