﻿@model Support_QandA_platform.Models.UserViewModel
@{
    ViewBag.Title = "Edit role of user";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(actionName: "UsersEdit", controllerName: "Users", 
    routeValues: new { id = @Model.User.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.User.Id)
    <br />
    @Html.LabelFor(m => m.RoleName, "Role:")
    <br />
    @Html.EditorFor(m => m.RoleName, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Save changes</button>
}