﻿@model Support_QandA_platform.Models.Comment
@{
    ViewBag.Title = "commentEditPage";
}

<h2>Comment Edit Page</h2>

@using (Html.BeginForm(actionName: "commentEdit", controllerName: "Topic", method: FormMethod.Post, routeValues:
            new { commentId = Model.commentId }))
{
    @Html.Label("Comment", "Edit your comment:")
    <br />
    @Html.EditorFor(c => c.content, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
    @Html.ValidationMessageFor(c => c.content, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-danger" type="submit">Edit</button>
}
