﻿@model List<Support_QandA_platform.Models.Topic>
@{
    ViewBag.Title = "Topics";
}

<br />
<h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align:center;">Topics</h1>
<br />

@foreach (var topic in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><i><b><u>@topic.Name</u></b></i></h3>
            @if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm(actionName: "topicEditNamePage", controllerName: "Topic", method: FormMethod.Post,
                routeValues: new { topicId = topic.topicId }))
                {
                    <button style="margin-right:20px" class="btn btn-default" type="submit">
                        Edit Name
                    </button>
                }
                <br />
                using (Html.BeginForm(actionName: "topicDelete", controllerName: "Topic", method: FormMethod.Post,
                routeValues: new { topicId = topic.topicId }))
                {
                    <button style="margin-right:20px" class="btn btn-danger" type="submit">
                        Delete this topic
                    </button>
                }
            }

        </div>
        <div class="panel-body">
            @if (@topic.Subtopics.Count != 0)
            {
                foreach (var subtopic in @topic.Subtopics)
                {

                    using (Html.BeginForm(actionName: "subtopicSearch", controllerName: "Topic", method: FormMethod.Get,
                    routeValues: new { topicId = topic.topicId, subtopicId = subtopic.subtopicId }))
                    {

                        <button style="text-align:left;" class="btn btn-info btn-block" type="submit">
                            @subtopic.subtopicName
                        </button>
                    }
                    <br />
                }
            }
            else
            {
                <h2>This Topic has no Subtopics yet!</h2>
            }
            <br />
            @if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm(actionName: "subtopicAddPage", controllerName: "Topic", method: FormMethod.Get,
                routeValues: new { topicId = topic.topicId }))
                {
                    <button class="btn btn-default" type="submit">
                        New subtopic
                    </button>
                }
                <br />
            }


            <i>Topic was created on:@topic.DateCreation</i> <br />
        </div>

    </div>
}

@using (Html.BeginForm(actionName: "topicAdd", controllerName: "Topic", method: FormMethod.Get))
{
    <div class="panel panel-info">
        <div class="panel-heading">
            @Html.Label("Topic", "Add a Topic:")
            <br />
            @Html.TextArea("newTopic", null, new { @rows = "2", @placeholder = "Name of the Topic", @class = "form-control" })
            <br />


            <button style="border-color: lightsteelblue" class="btn btn-default" type="submit">
                Add
            </button>

        </div>
    </div>
}
<br />