﻿@model Support_QandA_platform.Models.Question

@{
    ViewBag.Title = "questionSearch";
}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align:center;">@Html.DisplayFor(b => b.questionName)</h2>
    </div>
</div>

@Html.HiddenFor(qId => qId.questionId)

@if (Model.Comments != null && Model.Comments.Count != 0)
{
    foreach (var comment in Model.Comments)
    {
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>@comment.author</b><br />
                <i>Posted on:@comment.DateCreation</i>
            </div>

            <div class="panel-body">
                <div class="col-lg-1"></div>
                <div class="col-lg-11"><div style="border-left: 1px solid lightgreen;">@comment.content</div></div>
                

                @if (User.Identity.Name == comment.author || User.IsInRole("Admin"))
                {
                    <br /><br />
                    using (Html.BeginForm(actionName: "commentEditPage", controllerName: "Topic", method: FormMethod.Get, routeValues:
                    new { commentId = comment.commentId }))
                    {
                        <button style="margin-right:5px" class="btn btn-success col-lg-1" type="submit">Edit</button>
                    }
                    using (Html.BeginForm(actionName: "commentDelete", controllerName: "Topic", method: FormMethod.Post, routeValues:
                    new { commentId = comment.commentId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger col-lg-1" type="submit">Delete</button>
                    }
                }
            </div>
        </div>

    }
}
else
{
    <h3>There are no comments in this subtopic!</h3>
}

@using (Html.BeginForm(actionName: "Comment", controllerName: "Topic", method: FormMethod.Post,
    routeValues: new { subtopicId = Model.subtopicID, questionId = Model.questionId }))
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @Html.Label("Comment", "Add a comment:")
            <br />
            @Html.TextAreaFor(q => q.newComment, new { placeholder = "Type in a comment", @class = "form-control", @rows = "2" })
            @Html.ValidationMessageFor(q => q.newComment, null, new { @class = "text-danger" })


            @Html.HiddenFor(q => q.questionName)
            @Html.HiddenFor(q => q.Comments)
            @Html.HiddenFor(q => q.DateCreation)
            @Html.HiddenFor(q => q.subtopicID)
            <br />

            <button class="btn btn-success" type="submit">Add</button>

        </div>
    </div>


    <i>Question was added on:@Model.DateCreation</i>
    <br />
}
