﻿@model Support_QandA_platform.Models.Subtopic
@{
    ViewBag.Title = "questionAddPage";
}

<h1>Topic ID: @Model.topicID</h1>
<h1>Subtopic name: @Model.subtopicName</h1>


@using (Html.BeginForm(actionName: "questionAdd", controllerName: "Topic", method: FormMethod.Get,
                routeValues: new { subtopicId = Model.subtopicId, topicId = Model.topicID }))
{

    @Html.Label("newQuestion", "Enter the Question:")
    <br />
    @Html.TextAreaFor(s => s.newQuestion, new { @rows = "2", @placeholder = "Type in a new Question", @class = "form-control" })
    @Html.ValidationMessageFor(s => s.newQuestion, null, new { @class = "text-danger" })

    @Html.HiddenFor(s => s.subtopicId)
    @Html.HiddenFor(s => s.topicID)
    @Html.HiddenFor(s => s.subtopicName)
    <br />
    <button class="btn btn-info" type="submit">Add</button>
}
<br />

