﻿@model Support_QandA_platform.Models.Question
@{
    ViewBag.Title = "questionEditPage";
}

<h2>Question Edit Page</h2>

@using (Html.BeginForm(actionName: "questionEdit", controllerName: "Topic", method: FormMethod.Post, routeValues:
            new { questionId = Model.questionId }))
{
    @Html.Label("Comment", "Edit Question:")
    <br />
    @Html.EditorFor(q => q.questionName, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
    @Html.ValidationMessageFor(q => q.questionName, null, new { @class = "text-danger" })

    <br />
    <button class="btn btn-danger" type="submit">Edit</button>
}


