﻿@model Support_QandA_platform.Models.Subtopic
@{
    ViewBag.Title = "subTopicEditNamePage";
}

<h2>SubTopic Edit Name Page</h2>

@using (Html.BeginForm(actionName: "subtopicEditName", controllerName: "Topic", method: FormMethod.Post, routeValues:
            new { subtopicId = Model.subtopicId }))
{
    @Html.Label("Subtopic", "Edit Subtopic Name:")
    <br />
    @Html.EditorFor(s => s.subtopicName, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
    @Html.ValidationMessageFor(s => s.subtopicName, null, new { @class = "text-danger" })

    <br />
    <button class="btn btn-danger" type="submit">Edit</button>
}

