﻿@model Support_QandA_platform.Models.Topic
@{
    ViewBag.Title = "subtopicAddPage";
}

<h1>Topic name: @Model.Name</h1>


@using (Html.BeginForm(actionName: "subtopicAdd", controllerName: "Topic", method: FormMethod.Get,
                routeValues: new { topicId = Model.topicId }))
{
    @Html.ValidationSummary()

    @Html.Label("Subtopic", "Name of the Subtopic:")
    <br />
    @Html.TextAreaFor(t => t.newSubtopic, new { @rows = "2", @placeholder = "Subtopic name", @class = "form-control" })
    @Html.ValidationMessageFor(t => t.newSubtopic, null, new { @class = "text-danger" })

    @Html.HiddenFor(t => t.topicId)
    @Html.HiddenFor(t => t.Subtopics)
    @Html.HiddenFor(t => t.Name)
    @Html.HiddenFor(t => t.DateCreation)
    <br />
    <button class="btn btn-info" type="submit">Add</button>
}
<br />


