﻿@model Support_QandA_platform.Models.Subtopic
@{
    ViewBag.Title = "subtopicSearch";
}
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align:center;">@Html.DisplayFor(b => b.subtopicName)</h2>
    </div>
</div>

@if (Model.Questions != null && Model.Questions.Count != 0)
{
    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">@Html.Label("Name", "Questions:")</h2>

    foreach (var question in Model.Questions)
    {
        <div style="border-color:darkblue" class="panel panel-info">
            <div class="panel-body">

                @using (Html.BeginForm(actionName: "questionSearch", controllerName: "Topic", method: FormMethod.Get,
                routeValues: new { subtopicId = Model.subtopicId, questionId = question.questionId }))
                {
                    <button style="text-align:left;" class="btn btn-primary btn-block" type="submit">
                        @question.questionName
                    </button>
                }

                @if (User.IsInRole("Admin"))
                {
                    <br />
                    using (Html.BeginForm(actionName: "questionEditPage", controllerName: "Topic", method: FormMethod.Get, routeValues:
                    new { questionId = question.questionId }))
                    {
                        <button style="margin-right:5px" class="btn btn-default col-lg-1" type="submit">Edit</button>
                    }

                    using (Html.BeginForm(actionName: "questionDelete", controllerName: "Topic", method: FormMethod.Post, routeValues:
                    new { questionId = question.questionId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger col-lg-1" type="submit">Delete</button>
                    }
                }

            </div>
        </div>
    }
}
else
{
    <h2>This Subopic has no Questions yet!</h2>
}

@using (Html.BeginForm(actionName: "questionAddPage", controllerName: "Topic", method: FormMethod.Get,
            routeValues: new { subtopicId = Model.subtopicId }))
{
    <button class="btn btn-default" type="submit">
        Add a question
    </button>
}
<br />


@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "subtopicEditNamePage", controllerName: "Topic", method: FormMethod.Post,
                routeValues: new { subtopicId = Model.subtopicId }))
    {
        <button class="btn btn-default" type="submit">
            Edit name of the Subtopic
        </button>
    }
    <br />

    using (Html.BeginForm(actionName: "subtopicDelete", controllerName: "Topic", method: FormMethod.Post,
                routeValues: new { subtopicId = Model.subtopicId }))
    {
        <button class="btn btn-danger" type="submit">
            Delete this subtopic
        </button>
    }
    <br />
}


<i>Subtopic was created on:@Model.DateCreation</i>
<br />


