﻿@model Support_QandA_platform.Models.Topic
@{
    ViewBag.Title = "topicEditNamePage";
}

<h2>Topic Edit Name Page</h2>

@using (Html.BeginForm(actionName: "topicEditName", controllerName: "Topic", method: FormMethod.Post, routeValues:
            new { topicId = Model.topicId }))
{
    @Html.Label("Topic", "Edit Topic Name:")
    <br />
    @Html.EditorFor(t => t.Name, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
    @Html.ValidationMessageFor(t => t.Name, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-danger" type="submit">Edit</button>
}